/* Responsive adjustments */

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #ff6b6b;
        position: absolute;
        right: 0;
        top: 60px;
        width: 150px;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .navbar {
        position: relative;
    }

    .nav-links li {
        padding: 0.5rem 0;
    }

    .dish-list, .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        flex-direction: column;
        width: 90%;
    }

    .menu-item img {
        width: 100%;
        height: auto;
        border-radius: 12px 12px 0 0;
    }

    .menu-info {
        padding: 1rem 1rem 2rem;
    }

    .dish, .menu-item {
        width: 90%;
    }
}
